.button {
    margin-top: 20px;
    background-color: $white;
    border: none;
    font-family: $raleway;
    font-weight: bold;
    font-size: $small;
    &--default {
        height: 35px;
        width: 100px;
        border: 1px solid $smoky-black;
        animation: rotation 2s ease-out 2s 3 backwards ;
    }
    &--default:hover {
        border: 1px solid $light-gray;
    }
    &--default:focus {
        border: 1px solid $light-gray;
        color: $light-gray;
    }
    &--form {
        font-family: $old-standard;
        font-size: $large;
        position: absolute;
        margin-top: 0;
        bottom: -24%;
        right: 0%;
        padding: 0;
        align-items:center;
        justify-content: center;
        height: 36px;
        width: 150px;
        transform-origin: top right;
        transform: rotate(90deg);
        
        &:hover {
            color: $quick-silver;
        }
        &:focus {
            background-color: $light-gray;
            color: $white;
        }
    }
}
@include respond-to($bp-md){
    .button--form{
        bottom: -28%;
        height: 50px;
        width: 182px;
    }
}
