.form__input {
    border: 1px solid $smoky-black;
    margin-bottom: 20px;
    font-family: $raleway;
    padding-left: 10px;
    height: 30px;
    width: 70vw;
    animation: swing 3s linear 3s backwards;
}
@include respond-to($bp-xl){
    .form__input{
        display: grid;
        grid-column: 1 / 4;
        width: 150%;
    }
}