/* Base styles */
.hero__image {
  width: 100%;
  height: 100%;
  background-color: #fff;
  background-image: url("../img/imagen1.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center top;
}

@media (min-width: 576px) {
  .hero__image {
    background-position: center 30%;
  }
}
@media (min-width: 768px) {
  .hero__image {
    background-position: center 30%;
  }
}
@media (min-width: 1200px) {
  .hero__image {
    background-position: center top;
  }
}
/* Reset */
body {
  margin: 0;
  box-sizing: border-box;
}

img {
  max-width: 100%;
}

p {
  font-family: "Raleway", sans-serif;
  color: #a6a5a8;
}

h1, h2, h3, h5, h6 {
  font-family: "Old Standard TT", serif;
  font-weight: 700;
  color: #0c0910;
}

/* Animations */
@keyframes rotation {
  from {
    transform: rotateX(0deg);
  }
  to {
    transform: rotateX(360deg);
  }
}
@keyframes swing {
  0% {
    transform: translateX(5px);
  }
  25% {
    transform: translateX(-5px);
  }
  50% {
    transform: translateX(3px);
  }
  75% {
    transform: translateX(-3px);
  }
  100% {
    transform: translateX(0);
  }
}
.header {
  height: 55px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header__logo {
  display: flex;
  height: 100%;
  align-self: center;
  color: #fff;
  padding: 0 12px;
  font-family: "Old Standard TT", serif;
  font-size: 16px;
  color: #fff;
  background-color: #0c0910;
}
.header__logo h4 {
  margin: 0px;
  align-self: center;
}

.navbar {
  display: flex;
}
.navbar__list {
  display: none;
}

.bars {
  margin-right: 36px;
}

@media (min-width: 768px) {
  .header {
    height: 93px;
  }
  .header__logo {
    padding: 0 30px;
  }

  .navbar__list {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 14px;
    display: flex;
    list-style-type: none;
    gap: 30px;
    padding-right: 80px;
  }
  .navbar__item {
    transition: transform 0.2s linear;
  }
  .navbar__item:hover {
    transform: rotateZ(-15deg);
  }

  .bars {
    display: none;
  }
}
.hero {
  height: 20vh;
}

@media (min-width: 576px) {
  .hero {
    height: 25vh;
  }
}
@media (min-width: 768px) {
  .hero {
    height: 33vh;
  }
}
@media (min-width: 996px) {
  .hero {
    height: 43vh;
  }
}
@media (min-width: 1200px) {
  .hero {
    height: 100%;
    grid-column: 6/13;
    grid-row: 1/3;
  }
}
.main {
  margin: 10px 36px;
}
.main__title {
  margin-bottom: 0px;
}
.main__text {
  margin-top: 0px;
  margin-bottom: 20px;
  font-size: 14px;
  line-height: 24px;
  transition: color 2s ease, font-size 2s ease;
}
.main__text:hover {
  color: #0c0910;
  font-size: 18px;
}
.main__text-full {
  display: none;
}

@media (min-width: 768px) {
  .main {
    padding-right: 150px;
    margin: 10px 80px;
  }
  .main__title {
    font-size: 50px;
  }
  .main__text {
    display: none;
  }
  .main__text-full {
    display: block;
    padding-bottom: 10px;
    transition: color 2s ease, font-size 2s linear;
  }
  .main__text-full:hover {
    color: #0c0910;
    font-size: 18px;
  }
}
@media (min-width: 996px) {
  .main {
    padding-right: 250px;
  }
}
@media (min-width: 1200px) {
  .main {
    align-items: center;
    margin-right: 50px;
    margin-top: 20px;
    margin-bottom: 30px;
    display: grid;
    grid-column-start: 1;
    grid-column-end: 6;
    grid-row: 1/2;
    padding-right: 0px;
  }
  .main__text-full {
    padding-right: 180px;
    padding-bottom: 0px;
    margin-bottom: 10px;
  }
}
.form {
  margin-top: 40px;
  display: flex;
  position: relative;
  justify-content: space-between;
  align-items: center;
  height: 150px;
  background-color: #0c0910;
}
.form__content {
  padding: 15px 36px;
}
.form__title {
  padding-top: 20px;
  margin: 0px;
  color: #fff;
  font-size: 30px;
  font-weight: 400;
}
.form__label {
  margin: 5px 0px;
  display: flex;
  flex-direction: column;
  font-family: "Old Standard TT", serif;
  font-weight: 400;
  color: #fff;
}

@media (min-width: 768px) {
  .form {
    height: 180px;
  }
  .form__content {
    padding-bottom: 25px;
    margin-left: 40px;
  }
  .form__title {
    padding-top: 0px;
  }
}
@media (min-width: 996px) {
  .form {
    display: grid;
    grid-template-columns: auto;
    grid-column-start: 1;
    grid-column-end: 6;
    grid-row: 2/3;
  }
  .form__content {
    padding-right: 0px;
  }
  .form__title {
    margin-bottom: 30px;
    transition: transform 1s linear;
  }
  .form__title:hover {
    transform: scale(1.4);
  }
}
@media (min-width: 1200px) {
  .grid-display {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: auto auto;
  }
}
.button {
  margin-top: 20px;
  background-color: #fff;
  border: none;
  font-family: "Raleway", sans-serif;
  font-weight: bold;
  font-size: 14px;
}
.button--default {
  height: 35px;
  width: 100px;
  border: 1px solid #0c0910;
  animation: rotation 2s ease-out 2s 3 backwards;
}
.button--default:hover {
  border: 1px solid #d1d1d1;
}
.button--default:focus {
  border: 1px solid #d1d1d1;
  color: #d1d1d1;
}
.button--form {
  font-family: "Old Standard TT", serif;
  font-size: 18px;
  position: absolute;
  margin-top: 0;
  bottom: -24%;
  right: 0%;
  padding: 0;
  align-items: center;
  justify-content: center;
  height: 36px;
  width: 150px;
  transform-origin: top right;
  transform: rotate(90deg);
}
.button--form:hover {
  color: #a6a5a8;
}
.button--form:focus {
  background-color: #d1d1d1;
  color: #fff;
}

@media (min-width: 768px) {
  .button--form {
    bottom: -28%;
    height: 50px;
    width: 182px;
  }
}
.form__input {
  border: 1px solid #0c0910;
  margin-bottom: 20px;
  font-family: "Raleway", sans-serif;
  padding-left: 10px;
  height: 30px;
  width: 70vw;
  animation: swing 3s linear 3s backwards;
}

@media (min-width: 1200px) {
  .form__input {
    display: grid;
    grid-column: 1/4;
    width: 150%;
  }
}

/*# sourceMappingURL=style.css.map */
